/build
*~
.DS_Store
/*.xcodeproj/*.mode1v3
/*.xcodeproj/*.pbxuser
.vs/Penumbra/v14/.suo
_UpgradeReport_Files/UpgradeReport.css
_UpgradeReport_Files/UpgradeReport.xslt
_UpgradeReport_Files/UpgradeReport_Minus.gif
_UpgradeReport_Files/UpgradeReport_Plus.gif
Penumbra.VC.db
Penumbra.vcproj.DESKTOP-4HA6SVR.Hilario.user
Penumbra.vcxproj.filters
UpgradeLog.XML
UpgradeLog2.XML
Penumbra.ncb
Penumbra.sdf
Penumbra.suo
Penumbra.vcxproj.user
